
/* * HERO RIGHT IS ON MEDIA QUERIESQUERIESQUERIESQUERIESQUERIESQUERIESQUERIESQUERIESQUERIESQUERIESQUERIES */
/* * ABOUT-HERO IS ON MEDIA QUERIESQUERIESQUERIESQUERIESQUERIESQUERIESQUERIESQUERIESQUERIESQUERIESQUERIES */



.about-hero-right:after {
  content: "Hi!";
  top: -6rem;
  left: -3rem;
  position: absolute;
  transform: rotate(-10deg);

  background-color: yellow;
  border: 0.3rem solid #212529;

  padding: 0.1rem 1rem;
}

@keyframes appearance1 {
  100% {
    opacity: 100;
  }
}

@keyframes appearance2 {
  100% {
    transform: translateX(0px);
    opacity: 100;
  }
}
