.carousel-container {
  max-width: 120rem;
  height: 40rem;
  position: relative;

  background-color: #f7a1c5;

  padding: 3.2rem;
  margin: 10rem auto;
  margin-bottom: 5.6rem;

  border: 0.3rem solid;
  box-shadow: 0.7rem 0.5rem;

  display: flex;
  align-items: center;
  gap: 1rem;
}

.testimonial-img {
  max-width: 45rem;
  height: 45rem;

  margin: 1rem 4rem;

  border: 0.3rem solid;
  box-shadow: 1rem 1rem;

  transition: all 0.2s;
}

.testimonial-img:hover {
  transform: translateY(-1rem);

  box-shadow: 1.3rem 1.3rem rgba(0, 0, 0, 0.705);
}

.testimonial-text {
  font-size: 3.6rem;
  font-weight: 500;

  line-height: 5rem;
  margin-bottom: 2rem;
  margin-right: 3rem;
}

.testimonial-name {
  font-size: 2rem;
  font-weight: 700;

  margin-bottom: 0.4rem;
}
.testimonial-description {
  font-size: 2rem;
  font-weight: 500;
}

.carousel-button {
  height: 5rem;
  width: 5rem;
  position: absolute;

  background-color: #7df4c2;

  border: 0.3rem solid;
  box-shadow: 1rem 1rem;
}

.carousel-button:hover {
  background-color: #22ec98;
}

.carousel-button-left {
  left: 0;

  transform: translate(-50%);
}
.carousel-button-right {
  right: 0;

  transform: translate(50%);
}

/* JS UTILITIES */
.hide-carousel {
  display: none;

  transform: translate(50px);
}

.hide-btn {
  opacity: 0;
}
