.about-hero-right {
  position: relative;
  opacity: 0;

  font-size: 5.2rem;

  background-color: #fac5db;
  border: 0.3rem solid #212529;
  box-shadow: 1rem 1rem;

  padding: 3rem 1rem 0rem 3rem;
  margin: 9rem auto 5rem 5rem;

  animation: appearance2 0.5s forwards 0.3s;
  max-width: 60rem;
}

.about-hero {
  margin-top: 8rem;
  margin-bottom: 7rem;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
}

.about-hero-left-img {
  max-width: 100%;
  opacity: 0;

  box-shadow: 1rem 1rem;
  border: 0.3rem solid #212529;

  margin-left: 4rem;
  /* transition: all 1s; */
  animation: appearance1 0.5s forwards 0.3s;
}

.wrapper-test {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 1rem 3rem;
  row-gap: 6rem;
  position: relative;
}

.posthero-rightcard {
  text-align: center;
  font-size: 2.4rem;
  font-weight: 700;
  margin-left: 5rem;
  grid-column: 2 / 3;
  transform: translateX(1000px);
}

.pictures-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  gap: 0rem;
  margin: 0rem 2rem;
}

/* & 1456px1456px1456px1456px1456px1456px1456px1456px1456px1456px1456px1456px1456px1456px1456px1456px1456px1456px1456px (1440) minimac; so we start with 1080p*/
@media (max-width: 91em) {
  .footer-title {
    font-size: 3.2rem;
  }
  /* ^ homehomehomehomehomehomehomehomehomehomehomehomehomehomehomehomehomehome */
  .graphics-pic {
    max-width: 67rem;
    max-height: 36rem;
  }
  .hero-right-box {
    max-width: 50rem;
    font-size: 5.2rem;
    padding: 2rem 0rem 2rem 5rem;
  }
  .profile-table {
    width: 110rem;
  }
  /* ^ aboutaboutaboutaboutaboutaboutaboutaboutaboutaboutaboutaboutaboutaboutabout */
  .about-hero-right {
    font-size: 5.2rem;
  }
  /* ^ profileprofileprofileprofileprofileprofileprofileprofileprofileprofileprofileprofileprofile */
}
/* & 1312px1312px1312px1312px1312px1312px1312px1312px1312px1312px1312px1312px1312px1312px1312px1312px1312px1312px1312px1312px1312px1312px */
@media (max-width: 82em) {
  /* ^ homehomehomehomehomehomehomehomehomehomehomehomehomehomehomehomehomehome */
  .sa-main-wrapper {
    right: 30px;
  }
  .salute-wrapper {
    transform: translateX(4rem);
  }
  .hero-right-box {
    font-size: 4.2rem;

    line-height: 6rem;
    padding: 2rem 0rem 2rem 3rem;
  }

  .hero-below-table {
    padding-bottom: 0rem;
  }

  .hero-below-table-title {
    margin-bottom: 0rem;
  }

  .images-section-container {
    margin-bottom: 3rem;
  }
  /* ^ aboutaboutaboutaboutaboutaboutaboutaboutaboutaboutaboutaboutaboutaboutabout */
  .about-hero-right {
    font-size: 4.5rem;
    padding: 3rem 1rem 4rem 3rem;
    margin: 6rem auto 8rem 5rem;
  }
  /* ^ profileprofileprofileprofileprofileprofileprofileprofileprofileprofileprofileprofileprofile */
}
/* & 1168px1168px1168px1168px1168px1168px1168px1168px1168px1168px1168px1168px1168px1168px1168px1168px1168px1168px */
@media (max-width: 73em) {
  /* ^ homehomehomehomehomehomehomehomehomehomehomehomehomehomehomehomehomehome */
  .sa-main-wrapper {
    top: 24px;
    right: 20px;
  }
  .carousel-container {
    height: 60rem;
  }
  .salute-wrapper {
    transform: translateX(2rem);
  }
  /* here i removed padding: 0px 35px; from mainEl */
  /* here i removed padding: 0px 35px; from mainEl */
  /* here i removed padding: 0px 35px; from mainEl */
  /* here i removed padding: 0px 35px; from mainEl */

  /* ^ aboutaboutaboutaboutaboutaboutaboutaboutaboutaboutaboutaboutaboutaboutabout */
  .pictures-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .about-logo {
    height: 90px !important;
    width: 90px !important;
    margin-bottom: 1rem;
  }
  .pic-titles-box {
    margin-bottom: 1rem !important;
  }
  /* ^ profileprofileprofileprofileprofileprofileprofileprofileprofileprofileprofileprofileprofile */
}
/* & 105610561056105610561056105610561056105610561056105610561056105610561056105610561056105610561056105610561056 */
@media (max-width: 66em) {
  /* ^ homehomehomehomehomehomehomehomehomehomehomehomehomehomehomehomehomehome */
  html {
    font-size: 52.5%;
  }
  .letter-container {
    width: 12px;
  }
  .dot {
    width: 10px;
    padding: 2px 0px;
  }
  .sa-main-wrapper {
    top: 19px;
    right: 20px;
  }
  .testimonial-img {
    height: 37rem;
  }
  .carousel-container {
    height: 40rem;
  }
  .testimonial-text {
    font-size: 3.6rem;

    line-height: 5rem;
    margin-right: 0rem;
  }
  /* here i removed padding: 0px 32px; from mainEl */
  /* here i removed padding: 0px 32px; from mainEl */
  /* here i removed padding: 0px 32px; from mainEl */
  /* here i removed padding: 0px 32px; from mainEl */
  /* ^ aboutaboutaboutaboutaboutaboutaboutaboutaboutaboutaboutaboutaboutaboutabout */
  /* ^ profileprofileprofileprofileprofileprofileprofileprofileprofileprofileprofileprofileprofile */
}
/* & 912px912px912px912px912px912px912px912px912px912px912px912px912px912px912px912px912px912px912px912px912px912px912px912px912px*/
@media (max-width: 57em) {
  /* ^ homehomehomehomehomehomehomehomehomehomehomehomehomehomehomehomehomehome */
  .sa-main-wrapper {
    top: 19px;
    right: 30px;
  }
  .main-header {
    grid-template-columns: 1fr 1.5fr;
  }
  .main-header-about {
    font-size: 2.4rem;

    background-color: #d7fcec;

    /* padding-top: 1.3rem;
    padding-bottom: 7.65rem; */

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
  }
  .salute-wrapper {
    transform: translateX(3rem);
  }
  .hero {
    margin-top: 6rem;

    display: block;
  }
  .graphics-pic {
    max-width: 70%;

    translate: 0rem 2rem;

    margin: 0rem auto 2rem auto;

    display: block;
  }
  .hero-right-box {
    max-width: 90%;

    font-size: 4.2rem;
    line-height: 6rem;

    background-color: #b3f8dc;

    text-align: center;
    padding: 2rem 3rem 2rem 3rem;
    margin: 0rem auto;
  }
  .how-to-lists-container h4 {
    font-size: 4.9rem;
  }
  .list-lines-container {
    gap: 2rem;
  }
  .hero-below-table-title {
    font-size: 5.2rem;

    margin-bottom: 1rem;
  }
  .table-item {
    height: 3rem;
  }
  .hero-below-section::after {
    right: -3%;

    font-size: 3.5rem;
  }
  .how-to-lists-section-container {
    display: block;
    gap: 3rem;
  }
  .how-to-lists-container {
    width: 70%;

    padding: 2rem 0rem;
    margin: 3rem auto;
    margin-top: 1rem;
  }
  .carousel-container {
    margin-top: 5rem;
  }
  .post-hero-title {
    margin-bottom: 2rem;
  }
  .images-section-container {
    margin-top: 5rem;
    margin-bottom: 2rem;
  }
  .carousel-container {
    height: 100%;

    margin: 0rem auto;
    margin-bottom: 4rem;
    padding: 0rem 0rem 3rem 0rem;

    display: block;
  }
  .testimonial-img {
    height: 300px;
    display: block;
    margin: 2rem auto;
  }
  .testimonial-text {
    font-size: 3rem;

    text-align: center;
    margin: 0rem 6rem 2rem 6rem;
  }
  .testimonial-name {
    text-align: center;
  }
  .testimonial-description {
    text-align: center;
  }
  .carousel-button-left {
    top: 50%;
    transform: translateX(-50%) translatey(-50%);
  }
  .carousel-button-right {
    top: 50%;
    transform: translateX(50%) translatey(-50%);
  }
  /* here i removed padding: 0px 28px; from mainEl */
  /* here i removed padding: 0px 28px; from mainEl */
  /* here i removed padding: 0px 28px; from mainEl */
  /* here i removed padding: 0px 28px; from mainEl */
  footer {
    font-size: 2rem;

    padding-top: 4rem;
  }
  .footer-title {
    font-size: 3.2rem;

    margin-bottom: 2rem;
  }
  .ready-button-container {
    margin-bottom: 5rem;
  }
  .carousel-dots-container {
    margin-bottom: 4rem;
  }
  /* ^ aboutaboutaboutaboutaboutaboutaboutaboutaboutaboutaboutaboutaboutaboutabout */
  .about-hero {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 0rem;
    gap: 8rem;
  }
  .about-hero-left-img {
    display: block;
    max-width: 70%;
    margin: 0 auto 0rem auto;

    box-shadow: 1rem 1rem;
    border: 0.3rem solid #212529;
  }
  .about-hero-right {
    margin: 0 auto;
  }
  .wrapper-test {
    display: flex;
    flex-direction: column;
    grid-template-columns: 1fr;
  }
  .posthero-rightcard {
    margin: 0 auto;
    background-color: inherit !important;
    border: none !important;
    box-shadow: none !important;
  }
  .postposthero-rightcard {
    margin: 0 auto !important;
  }
  .pictures-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .presentation-titles.techno-title {
    font-size: 4.5rem !important;
    margin-bottom: 4rem !important;
  }
  /* ^ profileprofileprofileprofileprofileprofileprofileprofileprofileprofileprofileprofileprofile */
}
/* & 750px750px750px750px750px750px750px750px750px750px750px750px750px750px750px750px750px750px750px750px750px750px750px750px750px750px */
@media (max-width: 47em) {
  /* ^ homehomehomehomehomehomehomehomehomehomehomehomehomehomehomehomehomehome */
  .sa-main-wrapper {
    top: 19px;
    right: 30px;
  }
  .letter-container {
    width: 9px;
  }
  .social-media-container {
    font-size: 3rem;
    justify-content: space-around;
    margin-bottom: 2rem;
  }
  .hero-below-table {
    margin: 0 0;
  }
  .hero {
    margin-top: 5rem;
  }
  .graphics-pic {
    max-width: 80%;
  }
  html {
    font-size: 47.5%;
  }
  .hero-below-section::after {
    top: -5%;
    right: 0%;
  }
  /* here i removed padding: 0px 25px; from mainEl */
  /* here i removed padding: 0px 25px; from mainEl */
  /* here i removed padding: 0px 25px; from mainEl */
  /* here i removed padding: 0px 25px; from mainEl */
  .table-item {
    font-size: 2.6rem;
  }
  .carousel-container {
    padding-bottom: 1.5rem;
  }
  .testimonial-img {
    height: 250px;
  }
  footer {
    font-size: 1.8rem;

    padding-top: 3rem;
  }
  .footer-title {
    font-size: 2.8rem;
  }
  .salute-wrapper {
    transform: translateX(0rem);
  }
  /* ^ aboutaboutaboutaboutaboutaboutaboutaboutaboutaboutaboutaboutaboutaboutabout */
  .presentation-titles {
    margin: 0 3rem !important;
  }
  /* ^ profileprofileprofileprofileprofileprofileprofileprofileprofileprofileprofileprofileprofile */
  /* ^ forumforumforumforumforumforumforumforumforumforumforumforumforumforumforum */

  .user-line-wrapper {
    padding: 1rem 1rem 0rem 1rem;

    display: grid;
    grid-template-columns: 1.5fr 5fr 1fr !important;
  }
  .chat-line.user {
    grid-column: 1/2;
    font-weight: 700;
  }
  .chat-line.time {
    grid-column: 2/4;
  }
  .chat-line.post {
    grid-column: 2/3;
  }
}
/* & 600px600px600px600px600px600px600px600px600px600px600px600px600px600px600px600px600px600px600px600px600px600px600px600px600px600px600px600px */
@media (max-width: 38em) {
  /* ^ homehomehomehomehomehomehomehomehomehomehomehomehomehomehomehomehomehome */
  .sa-main-wrapper {
    top: 17px;
    right: 10px;
  }
  .salute-wrapper {
    font-size: 2rem;
  }
  .how-to-lists-container h4 {
    font-size: 4rem;
  }
  .how-to-lists-container {
    font-size: 3rem;
    width: 90%;
  }
  .list-lines-container {
    gap: 1rem;
  }
  .social-media-container {
    font-size: 3rem;
    justify-content: space-around;
    margin-bottom: 0rem;
  }
  .footer-test-container {
    justify-content: space-between;
  }
  .footer-title {
    font-size: 2.2rem;
  }
  footer {
    font-size: 1.6rem;
  }
  .hero {
    margin-top: 4rem;
  }
  .graphics-pic {
    max-width: 90%;
  }
  html {
    font-size: 45%;
  }
  .hero-below-section::after {
    top: -4%;
    right: 0%;
    transform: rotate(7deg);
  }
  .hero-below-table-title {
    font-size: 4.8rem;
    gap: 1rem;
    margin-bottom: 1rem;
  }
  .table-item {
    font-size: 2.2rem;
  }
  .post-hero-title {
    font-size: 3.2rem;
  }
  /* ^ aboutaboutaboutaboutaboutaboutaboutaboutaboutaboutaboutaboutaboutaboutabout */
  .about-logo {
    height: 90px !important;
    width: 90px !important;
    margin-bottom: 1rem;
  }
  /* ^ profileprofileprofileprofileprofileprofileprofileprofileprofileprofileprofileprofileprofile */
}
/* & 528px528px528px528px528px528px528px528px528px528px528px528px528px528px528px528px528px528px528px528px528px528px528px528px528px528px528px528px528px */
@media (max-width: 33em) {
  /* ^ homehomehomehomehomehomehomehomehomehomehomehomehomehomehomehomehomehome */
  html {
    font-size: 42%;
  }
  .sa-main-wrapper {
    top: 64px;
    right: 32px;
  }
  .salute-wrapper {
    transform: translateX(7rem);
  }
  .salute {
    font-size: 2rem;
  }
  .post-hero-title {
    font-size: 2.5rem;
    margin: 0 0 0 0rem;
  }
  .hero-below-section::after {
    top: -11%;
    right: -8%;
    transform: rotate(7deg);
    font-size: 3rem;
  }
  .footer-test-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
  .social-media-container {
    font-size: 4rem;
    list-style: none;

    margin-right: 1rem;
    margin-bottom: 1rem;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 70%;
  }
  address {
    font-style: normal;

    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }
  .how-to-lists-container {
    width: 100%;
  }
  .hero-below-section {
    height: 27rem;
  }
  .square {
    display: none;
  }
  .hero-below-table-title {
    font-size: 4.5rem;
    margin-bottom: 0rem;
  }
  .table-item {
    font-size: 1.8rem;
  }
  .images-section-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1rem;
    align-items: center;
    align-content: center;
  }
  .activities-imgs {
    display: block;
    max-width: 80%;
    max-height: 100%;
    margin: 0 auto;
  }
  .main-header {
    font-size: 2.4rem;
    gap: 3rem;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
  }
  .main-header-about {
    gap: 0rem;
  }
  .button-area {
    /* display: flex; */
    justify-content: space-around;
  }
  .about-button:link,
  .about-button:visited {
    translate: 0rem 2rem;
    align-self: center;
  }
  /* ^ aboutaboutaboutaboutaboutaboutaboutaboutaboutaboutaboutaboutaboutaboutabout */
  .pictures-grid {
    grid-template-columns: 1fr 1fr;
  }
  .wrapper-test {
    gap: 5rem;
  }
  .presentation-titles {
    margin-bottom: 1rem !important;
  }
  .presentation-titles.techno-title {
    font-size: 4.5rem !important;
    margin-bottom: 4rem !important;
  }
  .about-hero-left-img {
    max-width: 80%;
  }
  .presentation {
    line-height: 4rem !important;
  }
  /* ^ profileprofileprofileprofileprofileprofileprofileprofileprofileprofileprofileprofileprofile */
  .profile-table {
    width: 97% !important;
    font-size: 2.5rem;
    line-height: 2.5rem;
  }
  .h3-profile {
    margin-bottom: 0rem;
    font-size: 4rem !important;
  }
  .h2-profile {
    margin-top: 4rem;
    margin-bottom: 2rem;
    font-size: 4.5rem !important;
  }
  .h2-h3-profile {
    margin-bottom: 0rem !important;
  }
  .main-profile-container {
    margin-top: 4rem !important;
  }
  .logout {
    margin-top: -4rem !important;
  }
  .margin-bottom {
    margin-bottom: 4rem !important;
  }
  .h3-moti {
    font-size: 4rem !important;
  }
  /* ^ forumforumforumforumforumforumforumforumforumforumforumforumforumforumforumforumforumforum */

  .topic-header {
    grid-template-columns: 2.4fr 2fr 2fr !important;
    justify-items: center;
    align-items: center;
  }
  .users {
    padding-right: 2rem !important;
    font-size: 2.2rem;
  }
  .last-post {
    font-size: 2.2rem;
  }
  .chat-line {
    font-size: 2rem;
  }
  .user-line-wrapper {
    grid-template-columns: 2fr 5fr 1fr !important;
  }
}
/* & 400px400px400px400px400px400px400px400px400px400px400px400px400px400px400px400px400px400px400px400px400px400px400px400px400px400px400px400px */
@media (max-width: 25em) {
  /* ^ homehomehomehomehomehomehomehomehomehomehomehomehomehomehomehomehomehome */
  .sa-main-wrapper {
    top: 65px;
    right: 15px;
  }
  .salute-wrapper {
    transform: translateX(3rem);
  }
  .salute {
    font-size: 2rem;
  }
  .social-media-container {
    font-size: 3rem;
    margin-right: 0rem;
    margin-bottom: 1rem;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 80%;
  }
  .how-to-lists-container h4 {
    font-size: 3rem;
  }
  .how-to-lists-container {
    font-size: 2rem;
    width: 100%;
    padding: 2rem 0rem 0rem 0rem;
    gap: 1rem;
  }
  .list-lines-container {
    gap: 1rem;
  }
  .list-individual-lines div {
    align-self: center;
  }
  /* ^ aboutaboutaboutaboutaboutaboutaboutaboutaboutaboutaboutaboutaboutaboutabout */
  .about-hero-left-img {
    max-width: 90%;
  }
  .about-hero-right {
    margin: 0 2rem;
  }
  /* ^ profileprofileprofileprofileprofileprofileprofileprofileprofileprofileprofileprofileprofile */
  /* ^ forumforumforumforumforumforumforumforumforumforumforumforumforumforumforumforumforumforum */

  .users {
    padding-right: 0rem !important;
  }
}
