.testcont {
  margin: 10rem auto;
  height: 20rem;
  text-align: center;
  display: flex;
  justify-content: center;
}

.testcont2 {
  background-color: blue;
  width: 40rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

